
*{ 
  box-sizing: border-box;
  margin: 0;  
  padding:0;  
  font-family: "Vollkorn", serif;
} 
.header{  
 min-height: 100vh;  
 width: 100%;  
 background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.1)),url(images/pexels-jeffry-surianto-11186075.jpg);
    /*
      Image Name: pexels-jeffry-surianto-11186075.jpg
      Created By: Jeffry Surianto
      Created On: 14th February 2022
      Downlaoded On: 04.03.24 At: 17:18
      Website: https://www.pexels.com
      Source: https://www.pexels.com/photo/view-of-the-beautiful-clouds-and-island-from-the-airplane-11186075/
    
    */
 background-position: center;  
 background-size: cover;  
 position: relative;  
}

nav {
  background-color: #000000;
  padding: 10px;
  opacity: 0.6;  
  text-align: center;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin: auto;
  margin-left: 15%;
  align-self: center;
}

.dropdown .dropbtn {
  background-color: #359aff;
  color: white;
  padding: 14px;
  font-size: 25px;
  color: #fff;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.dropdown-content a {
  display: block;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  
}

.dropdown-content a:hover {
  background-color: #1A7C98;
}

.dropdown:hover .dropdown-content {
  display: block;
}


.h1 {
  color:#000;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 4px;
  font-size: 30px;
  font-weight: 500;
}
  

/*Add Route Begins*/
.addForm-body {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)), url(images/pexels-jeffry-surianto-11186075.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-control {
  width: 50%; 
  height: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 40px;
  font-size: 19px;
}

.form-control h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #000000;
}

.form-control #routeFormID {
  border: 2px solid #000000;
  padding: 20px;
}

.form-control input[type="text"],
.form-control select {
  width: calc(100% - 40px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}

.form-control input[type="submit"] {
  width:95%;
  padding: 10px;
  background-color:  #53a3f3;
  color: #fff;
  border: none;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
  
}

.form-control input[type="submit"]:hover {
  background-color: #0056b3;
}
/**add route ends**/

/* Select Routes Begins */
.back-to-home-container {
  position: absolute;
  top: 20px; 
  left: 50px;
}

.back-to-home-container button {
  padding: 10px 20px;
  background-color: #53a3f3;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.5s ease;
}

.back-to-home-container button:hover {
  background-color: #0056b3;
}

.back-to-home-container button a {
  color: white;
  text-decoration: none;
}

.select-form {
  margin: 20px auto;
  padding: 20px;
  width: 50%;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.select-form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.select-form label {
  display: block;
  margin-bottom: 10px;
}

.select-form select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.select-form input[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #53a3f3;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.all {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.select-route-table-container {
  margin-top: 10px;
  width: 90%;
  max-width: 1000px;
  overflow-x: auto;
}

.select-route-table {
  width: 100%;
  border-collapse: collapse;
}

.select-route-table th, .select-route-table td {
  padding: 8px;
  font-size: 20px;
  font-weight: 100;
}

.select-route-table th {
  background-color: #53a3f3;
  color: #000;
}

.select-route-table tr:nth-child(even) {
  background-color: #ffffff;
}

.select-route-table tr:nth-child(odd) {
  background-color: #7bc497;
}

.select-route-table tr:hover {
  background-color: #53a3f3;
}

.select-route-table h2 {
  color: #000;
  background-color: rgba(83, 163, 243, 0.9);
  border-radius: 4px;  
  font-size: 24px;
  margin: 0 auto 20px auto;
  padding: 10px;
  text-align: center;
  font-weight: 200;
  width: 20%;
}
.back-to-top-left {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px 20px;
  background-color: #53a3f3;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
}

.back-to-top-left:hover {
  background-color: #0056b3;
}

/* Select Route Ends*/


/* Delete Route Begins */
.delete-Route{
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)), url(images/pexels-jeffry-surianto-11186075.jpg);
  background-size: cover;
  background-position: center;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.delete-Route h1{
  font-weight: 300;
}

.delete-form {
  margin: 20px auto;
  padding: 20px;
  width: 50%;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.delete-form label {    
  margin-bottom: 10px;
  display: block;
}

.delete-form input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.delete-form input[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color:  #53a3f3;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.table-container {
  margin: auto;
  max-width: 1000px;
}
.delete-Route table {
  width: 100%;
  margin-top: 35px;  
  border-collapse: collapse;
}
/* Delete Route Ends*/

/* view route*/
.select-routes-page{
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)), url(images/pexels-jeffry-surianto-11186075.jpg);
  background-size: cover;
  background-position: center;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.select-routes-page .container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.select-routes-page h2 {
  text-align: center;
  color: #333;
}

.select-routes-page form {
  text-align: center;
}

.select-routes-page select {
  padding: 10px;
  margin: 10px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.select-routes-page input[type="submit"] {
  padding: 10px 20px;
  margin: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.select-routes-page input[type="submit"]:hover {
  background-color: #0056b3;
}

/* select Routes */

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table th, .table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.table th {
  background-color: #f2f2f2;
  color: #333;
}

.table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table tr:hover {
  background-color: #f2f2f2;
}
/* Add booking */
.flight-update {
  margin: auto; 
  text-align: center;
  width: 60%;
  border-collapse: collapse;
}

.flight-update th, .flight-update td {
  padding: 8px;
  font-size: 1px;
  font-weight: bold;
  border: 1px solid black;
}

.flight-update th {
  background-color:  #53a3f3;
  color: #000;
}

.flight-update tr:nth-child(even) {
  background-color: #f2f2f2;
}

.flight-update tr:hover {
  background-color: #ddd;
}

.flight-update a {
  text-decoration: none;
  color: blue;
}
/*Add booking*/
.addbooking-search {
  display: inline-block;
  padding: 10px 10px;
  background-color: #53a3f3;
  color: white;
  text-align: center;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.addbooking-search button:hover {
  background-color: #0056b3;
}

.seacrchFlightForm {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)), url(images/pexels-jeffry-surianto-11186075.jpg);
  background-size: cover;
  background-position: center;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.seacrchFlightForm .form{

  background-color: rgba(255, 255, 255, 0.5);
  padding: 40px;
  font-size: 19px;
  border: 2px solid #000000;
  padding: 60px;
  border-radius: 10px;
}

.seacrchFlightForm h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.seacrchFlightForm label {
  display: block;
  margin-bottom: 10px;
}

.seacrchFlightForm select {
  padding: 10px;
  margin-bottom: 20px;  
  border-radius: 4px;
  width: 100%;
  font-size: 16px;
  border: 1px solid #ccc;
}

.seacrchFlightForm .back {
  width: 10%;
  transition: background-color 0.3s ease;
  padding: 12px;
  background-color:  #53a3f3;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.seacrchFlightForm .button {
  width: 100%;
  transition: background-color 0.3s ease;
  padding: 12px;
  background-color:  #53a3f3;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.seacrchFlightForm button:hover {
  background-color: #45a049;
}

/*Flight details section*/


.passFlightForm-body{
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)), url(images/pexels-jeffry-surianto-11186075.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pass-form-control {
  width: 50%; 
  height: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 40px;
  font-size: 19px;
}


.pass-form-control #passengerID {
  border: 2px solid #000000;
  padding: 20px;
  border-radius: 4px;
}

.pass-form-control input[type="text"],
.pass-form-control select {
  width: calc(100% - 40px);
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}

.pass-form-control input[type="email"],
.pass-form-control select {
  width: calc(100% - 40px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  border-radius: 4px;
}

.pass-form-control input[type="tel"],
.pass-form-control select {
  width: calc(100% - 40px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.pass-form-control input[type="number"],
.pass-form-control select {
  width: calc(100% - 40px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}


.pass-form-control input[type="date"],
.pass-form-control select {
  width: calc(100% - 40px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}

.pass-form-control input[type="submit"] {
  width:95%;
  padding: 10px;
  background-color:  #53a3f3;
  color: #fff;
  border: none;
  border-radius: 4px;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;  
}

.pass-form-control input[type="submit"]:hover {
  background-color: #0056b3;
  border-radius: 4px;
}

.pass-form-control h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #000000;
}

/**update booking**/
.booking-update-body {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)), url(images/pexels-jeffry-surianto-11186075.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.update-form-control {
  width: 50%; 
  height: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 40px;
  font-size: 19px;
  border-radius: 4px;
}

.update-form-control h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #000000;
}

.update-form-control #updateFornormID {
  border: 2px solid #000000;
  padding: 20px;
  border-radius: 4px;

}

.update-form-control input[type="text"],
.update-form-control select {
  width: calc(100% - 40px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;

}

.update-form-control input[type="submit"] {
  width:95%;
  padding: 10px;
  background-color:  #53a3f3;
  color: #fff;
  border: none;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
  border-radius: 4px;
  
}

.update-form-control input[type="submit"]:hover {
  background-color: #0056b3;
}


.booking-update-body2 {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)), url(images/pexels-jeffry-surianto-11186075.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.update-form-control2 {
  width: 50%; 
  height: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 40px;
  font-size: 19px;
  border-radius: 4px;
}

.update-form-control2 h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #000000;
}

.update-form-control2 #updateformcontrol2ID {
  border: 2px solid #000000;
  padding: 20px;
  border-radius: 4px;

}

.update-form-control2 input[type="text"],
.uupdate-form-control2 select {
  width: calc(100% - 40px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;

}

.update-form-control2 input[type="time"],
.uupdate-form-control2 select {
  width: calc(100% - 40px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;

}

.update-form-control2 input[type="number"],
.uupdate-form-control2 select {
  width: calc(100% - 40px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;

}
.update-form-control2 input[type="text"],
.uupdate-form-control2 select {
  width: calc(100% - 40px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;

}

.update-form-control2 input[type="submit"] {
  width:95%;
  padding: 10px;
  background-color:  #53a3f3;
  color: #fff;
  border: none;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
  border-radius: 4px;
  
}

.update-form-control2 input[type="submit"]:hover {
  background-color: #0056b3;
}

/**update booking ends**/

/**cancel booking**/


.cancelBooking-body {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)), url(images/pexels-jeffry-surianto-11186075.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cancelBooking-control {
  width: 50%; 
  height: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 40px;
  font-size: 19px;
  border-radius: 4px;
}

.cancelBooking-control h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #000000;
}

.cancelBooking-control #cancelBookingID {
  border: 2px solid #000000;
  padding: 20px;
  border-radius: 4px;

}

.cancelBooking-control input[type="text"],
.cancelBooking-control select {
  width: calc(100% - 40px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;

}

.cancelBooking-control input[type="time"],
.cancelBooking-control select {
  width: calc(100% - 40px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;

}

.cancelBooking-control input[type="number"],
.cancelBooking-control select {
  width: calc(100% - 40px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;

}
.cancelBooking-control input[type="text"],
.cancelBooking-control select {
  width: calc(100% - 40px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;

}

.cancelBooking-control input[type="submit"] {
  width:95%;
  padding: 10px;
  background-color:  #53a3f3;
  color: #fff;
  border: none;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
  border-radius: 4px;
  
}

.cancelBooking-control input[type="submit"]:hover {
  background-color: #0056b3;
}

/**888888888888*/
.cancelBooking-body2 {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)), url(images/pexels-jeffry-surianto-11186075.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cancelBooking-control2 {
  width: 50%; 
  height: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 40px;
  font-size: 19px;
  border-radius: 4px;
}

.cancelBooking-control2 h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #000000;
}

.cancelBooking-control2 #cancelBookingID2 {
  border: 2px solid #000000;
  padding: 20px;
  border-radius: 4px;

}

.cancelBooking-control2 input[type="text"],
.cancelBooking-control2 select {
  width: calc(100% - 40px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;

}


.cancelBooking-control2 input[type="hidden"],
.cancelBooking-control2 select {
  width: calc(100% - 40px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;

}

.cancelBooking-control2 input[type="submit"] {
  width:95%;
  padding: 10px;
  background-color:  #53a3f3;
  color: #fff;
  border: none;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
  border-radius: 4px;
  
}

.cancelBooking-control2 input[type="submit"]:hover {
  background-color: #0056b3;
}

/**cancel booking ends**/