
*{ 
  box-sizing: border-box;
  margin: 0;  
  padding:0;  
  font-family: "Vollkorn", serif;
} 
.header{  
 min-height: 100vh;  
 width: 100%;  
 background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.1)),url(images/pexels-jeffry-surianto-11186075.jpg);
   /*
     Image Name: pexels-jeffry-surianto-11186075.jpg
     Created By: Jeffry Surianto
     Created On: 14th February 2022
     Downlaoded On: 04.03.24 At: 17:18
     Website: https://www.pexels.com
     Source: https://www.pexels.com/photo/view-of-the-beautiful-clouds-and-island-from-the-airplane-11186075/
   
   */
 background-position: center;  
 background-size: cover;  
 position: relative;  
}

body {
  margin: 0;
  padding: 0;
}

nav {
  background-color: #000000;
  padding: 10px;
  opacity: 0.6;  
  text-align: center;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin: auto;
  margin-left: 15%;
  align-self: center;
}

.dropdown .dropbtn {
  background-color: #359aff;
  color: white;
  padding: 14px;
  font-size: 25px;
  color: #fff;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.dropdown-content a {
  display: block;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  
}

.dropdown-content a:hover {
  background-color: #1A7C98;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.table-container {
  margin: auto;
  max-width: 1000px;
}
table {
  width: 100%;
  margin-top: 20px;  
  border-collapse: collapse;
}

th, td {
  text-align: center;
  padding: 8px;
  font-size: 20px;
  font-weight: 100;
}

th {
  background-color:  #53a3f3;
  color: #000;
}

tr:nth-child(even) {
  background-color: #ffffff; 
}
tr:nth-child(odd) {
  background-color: #7bc497; 
}

tr:hover {
  background-color: #53a3f3;
}
a {
  text-decoration: none;
  color: blue;
  padding: 8px 16px;}

/*Add Route Begins*/
.addForm-body {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)), url(images/pexels-jeffry-surianto-11186075.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-control {
  width: 50%; 
  height: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 40px;
  font-size: 19px;
}

.form-control h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #000000;
}

.form-control #routeFormID {
  border: 2px solid #000000;
  padding: 20px;
}

.form-control input[type="text"],
.form-control select {
  width: calc(100% - 40px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}

.form-control input[type="submit"] {
  width:95%;
  padding: 10px;
  background-color:  #53a3f3;
  color: #fff;
  border: none;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
  
}

.form-control input[type="submit"]:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
}


/* Select Routes Begins */

.select-form {
  margin: 20px auto;
  padding: 20px;
  width: 50%;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.select-form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.select-form label {
  display: block;
  margin-bottom: 10px;
}

.select-form select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.select-form input[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #53a3f3;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

/* Select Route Ends*/


/* Delete Route Begins */

.delete-Route {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.delete-Route h1{
  font-weight: 200;
}

.delete-form {
    margin: 20px auto;
    padding: 20px;
    width: 50%;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.delete-form label {    
    margin-bottom: 10px;
    display: block;
}

.delete-form input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.delete-form input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color:  #53a3f3;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
/* Delete Route Ends*/



 